doctype html
head
  meta(http-equiv='X-UA-Compatible' content='IE=edge,chrome=1')
  meta(name='viewport' content='initial-scale=1')
  // This is Squarespace.
  // lemon-grapefruit-97bl
  base(href='')
  meta(charset='utf-8')
  title Sleeping &mdash; Izzy &amp; Will
  link(rel='shortcut icon' type='image/x-icon' href='https://images.squarespace-cdn.com/content/v1/5db84ec7ff89931ee6be0730/1572360105343-KMYPM6EV3B0Y8MW4E8Q9/ke17ZwdGBToddI8pDm48kERhKhW2iUGvZOdqsw3kWOxZw-zPPgdn4jUwVcJE1ZvWQUxwkmyExglNqGp0IvTJZamWLI2zvYWH8K3-s_4yszcp2ryTI0HqTOaaUohrI8PIhUmj2r0jds-5248r0teWotxzBRdDdJM1YLS7NM8pD9UKMshLAGzx4R3EDFOm1kBS/favicon.ico')
  link(rel='canonical' href='https://lemon-grapefruit-97bl.squarespace.com/sleeping')
  meta(property='og:site_name' content='Izzy & Will')
  meta(property='og:title' content='Sleeping — Izzy & Will')
  meta(property='og:url' content='https://lemon-grapefruit-97bl.squarespace.com/sleeping')
  meta(property='og:type' content='website')
  meta(itemprop='name' content='Sleeping — Izzy & Will')
  meta(itemprop='url' content='https://lemon-grapefruit-97bl.squarespace.com/sleeping')
  meta(name='twitter:title' content='Sleeping — Izzy & Will')
  meta(name='twitter:url' content='https://lemon-grapefruit-97bl.squarespace.com/sleeping')
  meta(name='twitter:card' content='summary')
  meta(name='description' content='')
  script(type='text/javascript' src='//use.typekit.net/ik/5X74BVXPAA4cTy-JmnAzxLdaFdAKxhxowgrZHfWXQR6fezjffFHN4UJLFRbh52jhWDmqjR6XZAwaZcjt5QqDwAm8Fc48w2SDwg7gMPG0demldhtlZa4ySemcS1mTifXoFh4CO1FUiABkZWF3jAF8OcFzdPUCZAuzdKu1ScB3ZAZkiA8XOQqajc30SaBujW48Sagyjh90jhNlOeUzjhBC-eNDifUaiaS0demldhtlZa4ySemcS1mTifXoFh4CO1FUiABkZWF3jAF8OcFzdPJwSY4zpe8ljPu0daZyJyU1jW4ydAN0Zfu3Scml-AmkOWgkdkuq-WF3deBoH6qJ73IbMg6gJMJ7fbRKHyMMeMw6MKG4fHvgIMMjgfMfH6qJnbIbMg6eJMJ7fbKOMsMMeMS6MKG4f5w7IMMj2PMfH6qJCMIbMg65JMJ7fbK0MsMMegM6MKG4fJ3gIMMjIPMfH6qJ7Q9bMs62JMJ7fbK1FsMgeMb6MKG4fH9uIMIjgkMfH6qJ7R9bMs6FJMJ7fbKcFsMgegI6MTMgkZay_b9.js')
  script(type='text/javascript').
    try {
      Typekit.load();
    } catch (e) {
    }
  script(type='text/javascript').
    SQUARESPACE_ROLLUPS = {};
  script.
    (function (rollups, name) {
      if (!rollups[name]) {
        rollups[name] = {};
      }
      rollups[name].js = ["//assets.squarespace.com/universal/scripts-compressed/common-b4eee681a011918279fb3-min.en-US.js"];
    })(SQUARESPACE_ROLLUPS, 'squarespace-common');
  script(crossorigin='anonymous' src='//assets.squarespace.com/universal/scripts-compressed/common-b4eee681a011918279fb3-min.en-US.js')
  script(crossorigin='anonymous' src='//assets.squarespace.com/universal/scripts-compressed/performance-0cb8459a721c3b9c5c24e-min.en-US.js' defer='')
  script(data-name='static-context').
    Static = window.Static || {};
    Static.SQUARESPACE_CONTEXT = {
      "facebookAppId": "314192535267336",
      "rollups": {
        "squarespace-announcement-bar": {
          "css": "//assets.squarespace.com/universal/styles-compressed/announcement-bar-d41d8cd98f00b204e9800998ecf8427e-min.css",
          "js": "//assets.squarespace.com/universal/scripts-compressed/announcement-bar-38c9b4fa0571254f93373-min.en-US.js"
        },
        "squarespace-audio-player": {
          "css": "//assets.squarespace.com/universal/styles-compressed/audio-player-a57b8f3aa31918104f57a068648fbc63-min.css",
          "js": "//assets.squarespace.com/universal/scripts-compressed/audio-player-08050d2478caf46adf3c9-min.en-US.js"
        },
        "squarespace-blog-collection-list": {
          "css": "//assets.squarespace.com/universal/styles-compressed/blog-collection-list-d41d8cd98f00b204e9800998ecf8427e-min.css",
          "js": "//assets.squarespace.com/universal/scripts-compressed/blog-collection-list-342036262b204974aa269-min.en-US.js"
        },
        "squarespace-calendar-block-renderer": {
          "css": "//assets.squarespace.com/universal/styles-compressed/calendar-block-renderer-a0cc7f57176bc63d87bc9f4149fada5a-min.css",
          "js": "//assets.squarespace.com/universal/scripts-compressed/calendar-block-renderer-27b356b2c38f7da17c8c1-min.en-US.js"
        },
        "squarespace-chartjs-helpers": {
          "css": "//assets.squarespace.com/universal/styles-compressed/chartjs-helpers-9935a41d63cf08ca108505d288c1712e-min.css",
          "js": "//assets.squarespace.com/universal/scripts-compressed/chartjs-helpers-b36bb6ed3845fde9be972-min.en-US.js"
        },
        "squarespace-comments": {
          "css": "//assets.squarespace.com/universal/styles-compressed/comments-1637eb4ee93bed59528921026e024bf4-min.css",
          "js": "//assets.squarespace.com/universal/scripts-compressed/comments-522f22d3845dec42e6e60-min.en-US.js"
        },
        "squarespace-commerce-cart": {"js": "//assets.squarespace.com/universal/scripts-compressed/commerce-cart-245667e7a9a14c1dcd9b0-min.en-US.js"},
        "squarespace-dialog": {
          "css": "//assets.squarespace.com/universal/styles-compressed/dialog-55710f039fb28505986e61d6b08d7fad-min.css",
          "js": "//assets.squarespace.com/universal/scripts-compressed/dialog-20cc453bed90ad289f790-min.en-US.js"
        },
        "squarespace-events-collection": {
          "css": "//assets.squarespace.com/universal/styles-compressed/events-collection-a0cc7f57176bc63d87bc9f4149fada5a-min.css",
          "js": "//assets.squarespace.com/universal/scripts-compressed/events-collection-bed785f3d0d5adae1c08e-min.en-US.js"
        },
        "squarespace-form-rendering-utils": {"js": "//assets.squarespace.com/universal/scripts-compressed/form-rendering-utils-e0892a86d96727c839fda-min.en-US.js"},
        "squarespace-forms": {
          "css": "//assets.squarespace.com/universal/styles-compressed/forms-f64e0249b577bd29ab8588cd7d02f749-min.css",
          "js": "//assets.squarespace.com/universal/scripts-compressed/forms-a6df9eb790278f8360b07-min.en-US.js"
        },
        "squarespace-gallery-collection-list": {
          "css": "//assets.squarespace.com/universal/styles-compressed/gallery-collection-list-d41d8cd98f00b204e9800998ecf8427e-min.css",
          "js": "//assets.squarespace.com/universal/scripts-compressed/gallery-collection-list-e23ee315df466f1dba9ec-min.en-US.js"
        },
        "squarespace-image-zoom": {
          "css": "//assets.squarespace.com/universal/styles-compressed/image-zoom-72b0ab7796582588032aa6472e2e2f14-min.css",
          "js": "//assets.squarespace.com/universal/scripts-compressed/image-zoom-5a660e03e667b16c7a076-min.en-US.js"
        },
        "squarespace-pinterest": {
          "css": "//assets.squarespace.com/universal/styles-compressed/pinterest-d41d8cd98f00b204e9800998ecf8427e-min.css",
          "js": "//assets.squarespace.com/universal/scripts-compressed/pinterest-4725f00d98ee2610ca950-min.en-US.js"
        },
        "squarespace-popup-overlay": {
          "css": "//assets.squarespace.com/universal/styles-compressed/popup-overlay-0dff2958e7d1b369431f9e724190dc7d-min.css",
          "js": "//assets.squarespace.com/universal/scripts-compressed/popup-overlay-401fd572989c167224b47-min.en-US.js"
        },
        "squarespace-product-quick-view": {
          "css": "//assets.squarespace.com/universal/styles-compressed/product-quick-view-5ecfaf9aeb530f7e2c5ac043ddf653c6-min.css",
          "js": "//assets.squarespace.com/universal/scripts-compressed/product-quick-view-eb03e53100f37eb50e946-min.en-US.js"
        },
        "squarespace-products-collection-item-v2": {
          "css": "//assets.squarespace.com/universal/styles-compressed/products-collection-item-v2-72b0ab7796582588032aa6472e2e2f14-min.css",
          "js": "//assets.squarespace.com/universal/scripts-compressed/products-collection-item-v2-828c2fbae302bd3e4fe16-min.en-US.js"
        },
        "squarespace-products-collection-list-v2": {
          "css": "//assets.squarespace.com/universal/styles-compressed/products-collection-list-v2-72b0ab7796582588032aa6472e2e2f14-min.css",
          "js": "//assets.squarespace.com/universal/scripts-compressed/products-collection-list-v2-80d7f86fac140053728cf-min.en-US.js"
        },
        "squarespace-search-page": {
          "css": "//assets.squarespace.com/universal/styles-compressed/search-page-207da8872118254c0a795bf9b187c205-min.css",
          "js": "//assets.squarespace.com/universal/scripts-compressed/search-page-40996afac93cf70f70959-min.en-US.js"
        },
        "squarespace-search-preview": {"js": "//assets.squarespace.com/universal/scripts-compressed/search-preview-2c3f604525afe46ec0432-min.en-US.js"},
        "squarespace-share-buttons": {"js": "//assets.squarespace.com/universal/scripts-compressed/share-buttons-545b1df242f3b0f14434e-min.en-US.js"},
        "squarespace-simple-liking": {
          "css": "//assets.squarespace.com/universal/styles-compressed/simple-liking-9ef41bf7ba753d65ec1acf18e093b88a-min.css",
          "js": "//assets.squarespace.com/universal/scripts-compressed/simple-liking-85dc30ae244e5a8d1244d-min.en-US.js"
        },
        "squarespace-social-buttons": {
          "css": "//assets.squarespace.com/universal/styles-compressed/social-buttons-bf7788a87c794b73afd9d5c49f72f4f3-min.css",
          "js": "//assets.squarespace.com/universal/scripts-compressed/social-buttons-923de691865f2990b4f1e-min.en-US.js"
        },
        "squarespace-tourdates": {
          "css": "//assets.squarespace.com/universal/styles-compressed/tourdates-d41d8cd98f00b204e9800998ecf8427e-min.css",
          "js": "//assets.squarespace.com/universal/scripts-compressed/tourdates-1df533680b7cef23d1683-min.en-US.js"
        },
        "squarespace-website-overlays-manager": {
          "css": "//assets.squarespace.com/universal/styles-compressed/website-overlays-manager-68df56a8135961401cbd590171d6b04a-min.css",
          "js": "//assets.squarespace.com/universal/scripts-compressed/website-overlays-manager-57d9990968a5c616a68b9-min.en-US.js"
        }
      },
      "pageType": 2,
      "website": {
        "id": "5db84ec7ff89931ee6be0730",
        "identifier": "lemon-grapefruit-97bl",
        "websiteType": 1,
        "contentModifiedOn": 1572786018404,
        "cloneable": false,
        "siteStatus": {},
        "language": "en-US",
        "timeZone": "Europe/London",
        "machineTimeZoneOffset": 0,
        "timeZoneOffset": 0,
        "timeZoneAbbr": "GMT",
        "siteTitle": "Izzy & Will",
        "fullSiteTitle": "Sleeping \\u2014 Izzy & Will",
        "siteTagLine": "RSVP - Izzy & Will",
        "siteDescription": "",
        "shareButtonOptions": {"5": true, "8": true, "4": true, "1": true, "6": true, "7": true, "3": true, "2": true},
        "authenticUrl": "https://lemon-grapefruit-97bl.squarespace.com",
        "internalUrl": "https://lemon-grapefruit-97bl.squarespace.com",
        "baseUrl": "https://lemon-grapefruit-97bl.squarespace.com",
        "sslSetting": 3,
        "isHstsEnabled": false,
        "typekitId": "",
        "statsMigrated": false,
        "imageMetadataProcessingEnabled": false,
        "captchaSettings": {"enabledForDonations": false},
        "showOwnerLogin": false
      },
      "websiteSettings": {
        "id": "5db84ec7ff89931ee6be0732",
        "websiteId": "5db84ec7ff89931ee6be0730",
        "subjects": [],
        "country": "GB",
        "state": "ENG",
        "simpleLikingEnabled": true,
        "mobileInfoBarSettings": {
          "style": 1,
          "isContactEmailEnabled": false,
          "isContactPhoneNumberEnabled": false,
          "isLocationEnabled": false,
          "isBusinessHoursEnabled": false
        },
        "announcementBarSettings": {"style": 1},
        "popupOverlaySettings": {"style": 1, "enabledPages": []},
        "commentLikesAllowed": true,
        "commentAnonAllowed": true,
        "commentThreaded": true,
        "commentApprovalRequired": false,
        "commentAvatarsOn": true,
        "commentSortType": 2,
        "commentFlagThreshold": 0,
        "commentFlagsAllowed": true,
        "commentEnableByDefault": true,
        "commentDisableAfterDaysDefault": 0,
        "disqusShortname": "",
        "commentsEnabled": false,
        "storeSettings": {
          "returnPolicy": null,
          "termsOfService": null,
          "privacyPolicy": null,
          "expressCheckout": false,
          "continueShoppingLinkUrl": "/",
          "useLightCart": false,
          "showNoteField": false,
          "shippingCountryDefaultValue": "US",
          "billToShippingDefaultValue": false,
          "showShippingPhoneNumber": true,
          "isShippingPhoneRequired": false,
          "showBillingPhoneNumber": true,
          "isBillingPhoneRequired": false,
          "currenciesSupported": ["USD", "CAD", "GBP", "AUD", "EUR", "CHF", "NOK", "SEK", "DKK", "NZD", "SGD", "MXN", "HKD", "CZK", "ILS", "MYR", "RUB", "PHP", "PLN", "THB"],
          "defaultCurrency": "USD",
          "selectedCurrency": "USD",
          "measurementStandard": 1,
          "showCustomCheckoutForm": false,
          "enableMailingListOptInByDefault": false,
          "sameAsRetailLocation": false,
          "merchandisingSettings": {
            "scarcityEnabledOnProductItems": false,
            "scarcityEnabledOnProductBlocks": false,
            "scarcityMessageType": "DEFAULT_SCARCITY_MESSAGE",
            "scarcityThreshold": 10,
            "multipleQuantityAllowedForServices": true,
            "restockNotificationsEnabled": false,
            "restockNotificationsMailingListSignUpEnabled": false,
            "relatedProductsEnabled": false,
            "relatedProductsOrdering": "random",
            "soldOutVariantsDropdownDisabled": false
          },
          "isLive": false,
          "multipleQuantityAllowedForServices": true
        },
        "useEscapeKeyToLogin": true,
        "trialAssistantEnabled": true,
        "ssBadgeType": 1,
        "ssBadgePosition": 4,
        "ssBadgeVisibility": 1,
        "ssBadgeDevices": 1,
        "pinterestOverlayOptions": {"mode": "disabled"},
        "ampEnabled": false
      },
      "cookieSettings": {
        "isCookieBannerEnabled": false,
        "isRestrictiveCookiePolicyEnabled": false,
        "isRestrictiveCookiePolicyAbsolute": false,
        "cookieBannerText": "",
        "cookieBannerTheme": "",
        "cookieBannerVariant": "",
        "cookieBannerPosition": "",
        "cookieBannerCtaVariant": "",
        "cookieBannerCtaText": ""
      },
      "websiteCloneable": false,
      "collection": {"title": "Sleeping", "id": "5db85b89b8dddb62a50db7f9", "fullUrl": "/sleeping", "type": 10},
      "subscribed": false,
      "appDomain": "squarespace.com",
      "templateTweakable": true,
      "tweakJSON": {
        "outerPadding": "100px",
        "pagePadding": "52px",
        "product-gallery-auto-crop": "true",
        "product-image-auto-crop": "false",
        "topPadding": "100px",
        "tweak-v1-related-products-title-spacing": "50px"
      },
      "templateId": "50521cf884aeb45fa5cfdb80",
      "templateVersion": "7",
      "pageFeatures": [1, 2, 4],
      "gmRenderKey": "QUl6YVN5Q0JUUk9xNkx1dkZfSUUxcjQ2LVQ0QWVUU1YtMGQ3bXk4",
      "betaFeatureFlags": ["ORDERS-SERVICE-check-digital-good-access-with-service", "ORDERS-SERVICE-reset-digital-goods-access-with-service", "dg_downloads_from_fastly", "generic_iframe_loader_for_campaigns", "donations_customer_accounts", "product-retriever-v2-enabled", "domain_registration_via_registrar_service", "domain_locking_via_registrar_service", "domain_deletion_via_registrar_service", "domain_info_via_registrar_service", "onboarding_wizard", "commerce_restock_notifications", "member_email_verified_flag_migration", "commerce_related_products", "seven_one_add_page", "seven_one_no_refresh_on_manage_items", "newsletter_block_captcha", "new_billing_system", "seven_one_block_annotations", "seven_one_block_outlines"],
      "impersonatedSession": false,
      "demoCollections": [{
        "collectionId": "53dbedffe4b010de21d1e87e",
        "deleted": true
      }, {"collectionId": "53dbee0fe4b010de21d1e898", "deleted": true}, {
        "collectionId": "53dbee15e4b010de21d1e8a4",
        "deleted": true
      }, {"collectionId": "53dbee1ae4b0475b8bba6e03", "deleted": true}, {
        "collectionId": "53eca836e4b04a8ebc02b72f",
        "deleted": false
      }, {"collectionId": "53dbbcb1e4b067cbb1f60e31", "deleted": true}, {
        "collectionId": "53e14a0ee4b09a566104d01b",
        "deleted": true
      }],
      "tzData": {
        "zones": [[0, "EU", "GMT/BST", null]],
        "rules": {"EU": [[1981, "max", null, "Mar", "lastSun", "1:00u", "1:00", "S"], [1996, "max", null, "Oct", "lastSun", "1:00u", "0", null]]}
      }
    };
  script(type='text/javascript').
    SquarespaceFonts.loadViaContext();
    Squarespace.load(window);
  script(type='application/ld+json').
    {"url":"https://lemon-grapefruit-97bl.squarespace.com","name":"Izzy & Will","description":"","@context":"http://schema.org","@type":"WebSite"}
  //if gte IE 9
    link(rel='stylesheet' type='text/css' href='//static1.squarespace.com/static/sitecss/5db84ec7ff89931ee6be0730/1/50521cf884aeb45fa5cfdb80/5db84ec8ff89931ee6be0745/947-05142015/1572469721071/site.css?&filterFeatures=false&part=1')
    link(rel='stylesheet' type='text/css' href='//static1.squarespace.com/static/sitecss/5db84ec7ff89931ee6be0730/1/50521cf884aeb45fa5cfdb80/5db84ec8ff89931ee6be0745/947-05142015/1572469721071/site.css?&filterFeatures=false&part=2')
    link(rel='stylesheet' type='text/css' href='//static1.squarespace.com/static/sitecss/5db84ec7ff89931ee6be0730/1/50521cf884aeb45fa5cfdb80/5db84ec8ff89931ee6be0745/947-05142015/1572469721071/site.css?&filterFeatures=false&part=3')
    link(rel='stylesheet' type='text/css' href='//static1.squarespace.com/static/sitecss/5db84ec7ff89931ee6be0730/1/50521cf884aeb45fa5cfdb80/5db84ec8ff89931ee6be0745/947-05142015/1572469721071/site.css?&filterFeatures=false&part=4')
  //if lt IE 9
    link(rel='stylesheet' type='text/css' href='//static1.squarespace.com/static/sitecss/5db84ec7ff89931ee6be0730/1/50521cf884aeb45fa5cfdb80/5db84ec8ff89931ee6be0745/947-05142015/1572469721071/site.css?&filterFeatures=false&noMedia=true&part=1')
    link(rel='stylesheet' type='text/css' href='//static1.squarespace.com/static/sitecss/5db84ec7ff89931ee6be0730/1/50521cf884aeb45fa5cfdb80/5db84ec8ff89931ee6be0745/947-05142015/1572469721071/site.css?&filterFeatures=false&noMedia=true&part=2')
    link(rel='stylesheet' type='text/css' href='//static1.squarespace.com/static/sitecss/5db84ec7ff89931ee6be0730/1/50521cf884aeb45fa5cfdb80/5db84ec8ff89931ee6be0745/947-05142015/1572469721071/site.css?&filterFeatures=false&noMedia=true&part=3')
    link(rel='stylesheet' type='text/css' href='//static1.squarespace.com/static/sitecss/5db84ec7ff89931ee6be0730/1/50521cf884aeb45fa5cfdb80/5db84ec8ff89931ee6be0745/947-05142015/1572469721071/site.css?&filterFeatures=false&noMedia=true&part=4')
  //if !IE
  link(rel='stylesheet' type='text/css' href='//static1.squarespace.com/static/sitecss/5db84ec7ff89931ee6be0730/1/50521cf884aeb45fa5cfdb80/5db84ec8ff89931ee6be0745/947-05142015/1572469721071/site.css?&filterFeatures=false')
  // <![endif]
  script.
    Static.COOKIE_BANNER_CAPABLE = true;
  // End of Squarespace Headers
  script(src='https://static1.squarespace.com/static/ta/5052176b84aeb45fa5cfcc83/947/scripts/site-bundle.js' type='text/javascript')
