block variables
doctype html
include _head
body#collection-5db850cb1739ee1838c29966(class='show-products-category-navigation   page-borders-thick canvas-style-normal  header-subtitle-none banner-alignment-center blog-layout-center project-layout-left-sidebar thumbnails-on-open-page-show-all social-icon-style-round hide-social-icons hide-info-footer hide-page-banner hide-page-title hide-page-title-underline  hide-article-author    event-thumbnails event-thumbnail-size-32-standard event-date-label event-date-label-time event-list-show-cats event-list-date event-list-time event-list-address   event-icalgcal-links  event-excerpts  event-item-back-link    product-list-titles-under product-list-alignment-center product-item-size-32-standard  product-gallery-size-11-square product-gallery-auto-crop show-product-price show-product-item-nav product-social-sharing tweak-v1-related-products-image-aspect-ratio-11-square tweak-v1-related-products-details-alignment-center newsletter-style-dark  opentable-style-light small-button-style-outline small-button-shape-square medium-button-style-solid medium-button-shape-square large-button-style-solid large-button-shape-square image-block-poster-text-alignment-center image-block-card-dynamic-font-sizing image-block-card-content-position-center image-block-card-text-alignment-left image-block-overlap-dynamic-font-sizing image-block-overlap-content-position-center image-block-overlap-text-alignment-left image-block-collage-dynamic-font-sizing image-block-collage-content-position-top image-block-collage-text-alignment-left image-block-stack-dynamic-font-sizing image-block-stack-text-alignment-left button-style-solid button-corner-style-square tweak-product-quick-view-button-style-floating tweak-product-quick-view-button-position-bottom tweak-product-quick-view-lightbox-excerpt-display-truncate tweak-product-quick-view-lightbox-show-arrows tweak-product-quick-view-lightbox-show-close-button tweak-product-quick-view-lightbox-controls-weight-light native-currency-code-usd collection-type-page collection-layout-default collection-5db850cb1739ee1838c29966 homepage mobile-style-available site-title')
  #canvas
    #mobileNav
      .wrapper
        nav.main-nav.mobileNav
          ul
            li.page-collection.active-link
              a(href='/') Home
            li.page-collection
              a(href='/wedding') Wedding
            li.page-collection
              a(href='/travel') Travel
            li.page-collection
              a(href='/sleeping') Sleeping
            li.page-collection
              a(href='/gifts') Gifts
            li.page-collection
              a(href='/rsvp') RSVP
            li.page-collection
              a(href='/photos') Photos
    #mobileMenuLink
      a Menu
    header#header.clear
      #upper-logo
        h1.logo(data-content-field='site-title')
          a(href='/') Izzy &amp; Will
      script.
        if (parseInt(Y.one('body').getComputedStyle('width'), 10) <= 640) {
          Y.use('squarespace-ui-base', function (Y) {
            Y.one("#upper-logo .logo").plug(Y.Squarespace.TextShrink, {
              parentEl: Y.one('#upper-logo')
            });
          });
        }
      .site-info(data-content-field='business-information')
        .site-address Street Address
        .site-city-state City, State, Zip
        .site-phone Phone Number
      .site-tag-line
        span=view + ' - Izzy &amp; Will'
      .custom-info
        #customInfoBlock.sqs-layout.sqs-grid-12.columns-12(data-layout-label='Header Subtitle: Custom Content' data-type='block-field')
          .row.sqs-row
            .col.sqs-col-12.span-12
              #block-b1c45cf333263ee1b3e7.sqs-block.html-block.sqs-block-html(data-block-type='2')
                .sqs-block-content
                  p.text-align-center Your Custom Text Here
      #lower-logo
        h1.logo(data-content-field='site-title')
          a(href='/') Izzy &amp; Will
      script.
        Y.use('squarespace-ui-base', function (Y) {
          Y.one("#lower-logo .logo").plug(Y.Squarespace.TextShrink, {
            parentEl: Y.one('#lower-logo')
          });
        });
      #topNav
        nav.main-nav(data-content-field='navigation')
          ul
            for viewDescriptor in global.views
              li(class=`page-collection${viewDescriptor.name === view ? ' active-link' : ''}`)
                a(href=viewDescriptor.href)=viewDescriptor.name
          .page-divider
    .page-divider.top-divider
    // // page image or divider
    section#page.clear(role='main' data-content-field='main-content' data-collection-id='5db850cb1739ee1838c29966' data-edit-main-image='Banner')
      #page-5db88a057cb794565dabad7e.sqs-layout.sqs-grid-12.columns-12.sqs-frontend-overlay-editor-widget-host(data-type='page' style='')
        block content
      #yui_3_17_2_1_1572780189629_3781.sqs-layout-insert-point-container

  div
  script(type='text/javascript' data-sqs-type='imageloader-bootstrapper').
    (function () {
      if (window.ImageLoader) {
        window.ImageLoader.bootstrap({}, document);
      }
    })();
  script.
    Squarespace.afterBodyLoad(Y);
