extends _layout
include mixins/_headerImage
block variables
  - var view = 'Gifts'
block content
  .sqs-layout.sqs-grid-12.columns-12.sqs-frontend-overlay-editor-widget-host(data-type='page' style='')
    +headerImage('/images/gift.jpeg')
    #block-yui_3_17_2_1_1572362319442_23576.sqs-block.html-block.sqs-block-html(data-block-type='2')
      .sqs-block-content
        h1(style='text-align:center;white-space:pre-wrap;')
          strong gifts
        p(style='text-align:center;white-space:pre-wrap;')
          | The biggest gift of all is to celebrate our most important day with our closes friends and family. However, should you wish, we would be delighted to receive a contribution to our honeymoon fund.
    #block-cf5a434c6b1594ef8828.sqs-block.spacer-block.sqs-block-spacer.sized.vsize-1(data-block-type='21')
      .sqs-block-content &nbsp;
