extends _layout
include mixins/_headerImage
block variables
  - var view = 'Home'
block content
  .sqs-layout.sqs-grid-12.columns-12.sqs-frontend-overlay-editor-widget-host(data-type='page' style='')
    +headerImage('/images/willizzyhouse.jpeg')
    .row.sqs-row
      .col.sqs-col-2.span-2
        #block-c33739cb839eaea8d3e3.sqs-block.spacer-block.sqs-block-spacer.sized.vsize-1(data-block-type='21')
          .sqs-block-content &nbsp;
      .col.sqs-col-8.span-8
        #block-e6d87682529079570d38.sqs-block.html-block.sqs-block-html(data-block-type='2')
          .sqs-block-content
            h3(style='text-align:center;white-space:pre-wrap;')
              | Come celebrate our wedding
        #block-e483368cd23788170b77.sqs-block.horizontalrule-block.sqs-block-horizontalrule(data-block-type='47')
          .sqs-block-content
            hr
        #block-3c2ee245310d7bd97eff.sqs-block.html-block.sqs-block-html(data-block-type='2')
          .sqs-block-content
            h1(style='text-align:center;white-space:pre-wrap;') Isabel Miller
            h2(style='text-align:center;white-space:pre-wrap;')
              | &mdash;&nbsp;
              em and
              | &nbsp;&mdash;
            h1(style='text-align:center;white-space:pre-wrap;') william lacy
        #block-3fc236ac9a93f09b2d9c.sqs-block.horizontalrule-block.sqs-block-horizontalrule(data-block-type='47')
          .sqs-block-content
            hr
        #block-074c1fe6c94e2fd8cc47.sqs-block.html-block.sqs-block-html(data-block-type='2')
          .sqs-block-content
            h3(style='text-align:center;white-space:pre-wrap;') Saturday, 06 June 2020
        #block-de2973cf5a0a78685267.sqs-block.html-block.sqs-block-html(data-block-type='2')
          .sqs-block-content
            p(style='text-align:center;white-space:pre-wrap;font-size:16px') Together with their families, <br/>Izzy and Will would like to invite you to their wedding ceremony. Followed by a drinks reception, dinner and live music at the venue.
        #block-9fb1f84177b035faa1c5.sqs-block.spacer-block.sqs-block-spacer.sized.vsize-1(data-block-type='21')
          .sqs-block-content &nbsp;
      .col.sqs-col-2.span-2
        #block-ed2150c036df86f7f1a7.sqs-block.spacer-block.sqs-block-spacer.sized.vsize-1(data-block-type='21')
          .sqs-block-content &nbsp;
