doctype html
head
  meta(http-equiv='X-UA-Compatible' content='IE=edge,chrome=1')
  meta(name='viewport' content='initial-scale=1')
  // This is Squarespace.
  // lemon-grapefruit-97bl
  base(href='')
  meta(charset='utf-8')
  title Izzy &amp; Will
  link(rel='icon' type='image/png' sizes='192x192' href='/images/android-icon-192x192.png')
  link(rel='icon' type='image/png' sizes='32x32' href='/images/favicon-32x32.png')
  link(rel='icon' type='image/png' sizes='96x96' href='/images/favicon-96x96.png')
  link(rel='icon' type='image/png' sizes='16x16' href='/images/favicon-16x16.png')
  link(rel='manifest' href='/manifest.json')
  meta(name='msapplication-TileColor' content='#ffffff')
  meta(name='msapplication-TileImage' content='/ms-icon-144x144.png')
  meta(name='theme-color' content='#ffffff')
  link(rel='canonical' href='https://lemon-grapefruit-97bl.squarespace.com')
  link(rel='stylesheet' type='text/css' href='/stylesheets/style.css')
  meta(property='og:site_name' content='Izzy & Will')
  meta(property='og:title' content='Izzy & Will')
  meta(property='og:url' content='https://lemon-grapefruit-97bl.squarespace.com')
  meta(property='og:type' content='website')
  meta(itemprop='name' content='Izzy & Will')
  meta(itemprop='url' content='https://lemon-grapefruit-97bl.squarespace.com')
  meta(name='twitter:title' content='Izzy & Will')
  meta(name='twitter:url' content='https://lemon-grapefruit-97bl.squarespace.com')
  meta(name='twitter:card' content='summary')
  meta(name='description' content='')
  script(type='text/javascript' src='//use.typekit.net/ik/5X74BVXPAA4cTy-JmnAzxLdaFdAKxhxowgrZHfWXQR6fezjffFHN4UJLFRbh52jhWDmqjR6XZAwaZcjt5QqDwAm8Fc48w2SDwg7gMPG0demldhtlZa4ySemcS1mTifXoFh4CO1FUiABkZWF3jAF8OcFzdPUCZAuzdKu1ScB3ZAZkiA8XOQqajc30SaBujW48Sagyjh90jhNlOeUzjhBC-eNDifUaiaS0demldhtlZa4ySemcS1mTifXoFh4CO1FUiABkZWF3jAF8OcFzdPJwSY4zpe8ljPu0daZyJyU1jW4ydAN0Zfu3Scml-AmkOWgkdkuq-WF3deBoH6qJ73IbMg6gJMJ7fbRKHyMMeMw6MKG4fHvgIMMjgfMfH6qJnbIbMg6eJMJ7fbKOMsMMeMS6MKG4f5w7IMMj2PMfH6qJCMIbMg65JMJ7fbK0MsMMegM6MKG4fJ3gIMMjIPMfH6qJ7Q9bMs62JMJ7fbK1FsMgeMb6MKG4fH9uIMIjgkMfH6qJ7R9bMs6FJMJ7fbKcFsMgegI6MTMgkZay_b9.js')
  script(type='text/javascript' src='/javascript/index.js')
  script(type='text/javascript').
    try{Typekit.load();}catch(e){}
  script(type='text/javascript').
    SQUARESPACE_ROLLUPS = {};
  script.
    (function(rollups, name) { if (!rollups[name]) { rollups[name] = {}; } rollups[name].js = ["//assets.squarespace.com/universal/scripts-compressed/common-caab39b91d34b22e59348-min.en-US.js"]; })(SQUARESPACE_ROLLUPS, 'squarespace-common');
  script(crossorigin='anonymous' src='//assets.squarespace.com/universal/scripts-compressed/common-caab39b91d34b22e59348-min.en-US.js')
  script(crossorigin='anonymous' src='//assets.squarespace.com/universal/scripts-compressed/performance-818ebd06c3b2256b1853e-min.en-US.js' defer='')
  script(data-name='static-context').
    Static = window.Static || {}; Static.SQUARESPACE_CONTEXT = {"facebookAppId":"314192535267336","rollups":{"squarespace-announcement-bar":{"css":"//assets.squarespace.com/universal/styles-compressed/announcement-bar-d41d8cd98f00b204e9800998ecf8427e-min.css","js":"//assets.squarespace.com/universal/scripts-compressed/announcement-bar-cb972ac31d19f397bbc38-min.en-US.js"},"squarespace-audio-player":{"css":"//assets.squarespace.com/universal/styles-compressed/audio-player-a57b8f3aa31918104f57a068648fbc63-min.css","js":"//assets.squarespace.com/universal/scripts-compressed/audio-player-d9ae659d35bf0d981fc13-min.en-US.js"},"squarespace-blog-collection-list":{"css":"//assets.squarespace.com/universal/styles-compressed/blog-collection-list-d41d8cd98f00b204e9800998ecf8427e-min.css","js":"//assets.squarespace.com/universal/scripts-compressed/blog-collection-list-ab4142fcacca918cf4e2d-min.en-US.js"},"squarespace-calendar-block-renderer":{"css":"//assets.squarespace.com/universal/styles-compressed/calendar-block-renderer-a0cc7f57176bc63d87bc9f4149fada5a-min.css","js":"//assets.squarespace.com/universal/scripts-compressed/calendar-block-renderer-b713046b4d0f0d6006efd-min.en-US.js"},"squarespace-chartjs-helpers":{"css":"//assets.squarespace.com/universal/styles-compressed/chartjs-helpers-9935a41d63cf08ca108505d288c1712e-min.css","js":"//assets.squarespace.com/universal/scripts-compressed/chartjs-helpers-d4413d4f5db1b7dcbfacc-min.en-US.js"},"squarespace-comments":{"css":"//assets.squarespace.com/universal/styles-compressed/comments-1637eb4ee93bed59528921026e024bf4-min.css","js":"//assets.squarespace.com/universal/scripts-compressed/comments-469e35c4b85050b5b19d3-min.en-US.js"},"squarespace-commerce-cart":{"js":"//assets.squarespace.com/universal/scripts-compressed/commerce-cart-9125af0dcba04bb623173-min.en-US.js"},"squarespace-dialog":{"css":"//assets.squarespace.com/universal/styles-compressed/dialog-55710f039fb28505986e61d6b08d7fad-min.css","js":"//assets.squarespace.com/universal/scripts-compressed/dialog-62d7cf0ce49ecbfe18f33-min.en-US.js"},"squarespace-events-collection":{"css":"//assets.squarespace.com/universal/styles-compressed/events-collection-a0cc7f57176bc63d87bc9f4149fada5a-min.css","js":"//assets.squarespace.com/universal/scripts-compressed/events-collection-f582c2d67cd13f8205af7-min.en-US.js"},"squarespace-form-rendering-utils":{"js":"//assets.squarespace.com/universal/scripts-compressed/form-rendering-utils-980d4a8896b1b771943d5-min.en-US.js"},"squarespace-forms":{"css":"//assets.squarespace.com/universal/styles-compressed/forms-f64e0249b577bd29ab8588cd7d02f749-min.css","js":"//assets.squarespace.com/universal/scripts-compressed/forms-b3c9d8f101462ff5b1efa-min.en-US.js"},"squarespace-gallery-collection-list":{"css":"//assets.squarespace.com/universal/styles-compressed/gallery-collection-list-d41d8cd98f00b204e9800998ecf8427e-min.css","js":"//assets.squarespace.com/universal/scripts-compressed/gallery-collection-list-5d5ff461e8bba64f298dc-min.en-US.js"},"squarespace-image-zoom":{"css":"//assets.squarespace.com/universal/styles-compressed/image-zoom-72b0ab7796582588032aa6472e2e2f14-min.css","js":"//assets.squarespace.com/universal/scripts-compressed/image-zoom-bb76f0f9dd663c789793c-min.en-US.js"},"squarespace-pinterest":{"css":"//assets.squarespace.com/universal/styles-compressed/pinterest-d41d8cd98f00b204e9800998ecf8427e-min.css","js":"//assets.squarespace.com/universal/scripts-compressed/pinterest-9dd1acd10aa47a7154983-min.en-US.js"},"squarespace-popup-overlay":{"css":"//assets.squarespace.com/universal/styles-compressed/popup-overlay-0dff2958e7d1b369431f9e724190dc7d-min.css","js":"//assets.squarespace.com/universal/scripts-compressed/popup-overlay-8066b2722f7c6832e9fd0-min.en-US.js"},"squarespace-product-quick-view":{"css":"//assets.squarespace.com/universal/styles-compressed/product-quick-view-5ecfaf9aeb530f7e2c5ac043ddf653c6-min.css","js":"//assets.squarespace.com/universal/scripts-compressed/product-quick-view-1637fb9e06974038b1956-min.en-US.js"},"squarespace-products-collection-item-v2":{"css":"//assets.squarespace.com/universal/styles-compressed/products-collection-item-v2-72b0ab7796582588032aa6472e2e2f14-min.css","js":"//assets.squarespace.com/universal/scripts-compressed/products-collection-item-v2-69badc258526c8eae029f-min.en-US.js"},"squarespace-products-collection-list-v2":{"css":"//assets.squarespace.com/universal/styles-compressed/products-collection-list-v2-72b0ab7796582588032aa6472e2e2f14-min.css","js":"//assets.squarespace.com/universal/scripts-compressed/products-collection-list-v2-a41039135f6742810aa0f-min.en-US.js"},"squarespace-search-page":{"css":"//assets.squarespace.com/universal/styles-compressed/search-page-207da8872118254c0a795bf9b187c205-min.css","js":"//assets.squarespace.com/universal/scripts-compressed/search-page-7c72a0905f4241bc6761f-min.en-US.js"},"squarespace-search-preview":{"js":"//assets.squarespace.com/universal/scripts-compressed/search-preview-9a51e073b4442270400ae-min.en-US.js"},"squarespace-share-buttons":{"js":"//assets.squarespace.com/universal/scripts-compressed/share-buttons-efd073758db04d8581fb1-min.en-US.js"},"squarespace-simple-liking":{"css":"//assets.squarespace.com/universal/styles-compressed/simple-liking-9ef41bf7ba753d65ec1acf18e093b88a-min.css","js":"//assets.squarespace.com/universal/scripts-compressed/simple-liking-a796918234170bf8b7f2b-min.en-US.js"},"squarespace-social-buttons":{"css":"//assets.squarespace.com/universal/styles-compressed/social-buttons-bf7788a87c794b73afd9d5c49f72f4f3-min.css","js":"//assets.squarespace.com/universal/scripts-compressed/social-buttons-2617c948fb9fa78b2290c-min.en-US.js"},"squarespace-tourdates":{"css":"//assets.squarespace.com/universal/styles-compressed/tourdates-d41d8cd98f00b204e9800998ecf8427e-min.css","js":"//assets.squarespace.com/universal/scripts-compressed/tourdates-dc10e9dd4e10dfda2991f-min.en-US.js"},"squarespace-website-overlays-manager":{"css":"//assets.squarespace.com/universal/styles-compressed/website-overlays-manager-68df56a8135961401cbd590171d6b04a-min.css","js":"//assets.squarespace.com/universal/scripts-compressed/website-overlays-manager-3ea38545a6c1fb9965baa-min.en-US.js"}},"pageType":2,"website":{"id":"5db84ec7ff89931ee6be0730","identifier":"lemon-grapefruit-97bl","websiteType":1,"contentModifiedOn":1572469823881,"cloneable":false,"siteStatus":{},"language":"en-US","timeZone":"Europe/London","machineTimeZoneOffset":0,"timeZoneOffset":0,"timeZoneAbbr":"GMT","siteTitle":"Izzy & Will","fullSiteTitle":"Izzy & Will","siteTagLine":"RSVP - Izzy & Will","siteDescription":"","shareButtonOptions":{"8":true,"4":true,"5":true,"2":true,"3":true,"6":true,"7":true,"1":true},"authenticUrl":"https://lemon-grapefruit-97bl.squarespace.com","internalUrl":"https://lemon-grapefruit-97bl.squarespace.com","baseUrl":"https://lemon-grapefruit-97bl.squarespace.com","sslSetting":3,"isHstsEnabled":false,"typekitId":"","statsMigrated":false,"imageMetadataProcessingEnabled":false,"captchaSettings":{"enabledForDonations":false},"showOwnerLogin":false},"websiteSettings":{"id":"5db84ec7ff89931ee6be0732","websiteId":"5db84ec7ff89931ee6be0730","subjects":[],"country":"GB","state":"ENG","simpleLikingEnabled":true,"mobileInfoBarSettings":{"style":1,"isContactEmailEnabled":false,"isContactPhoneNumberEnabled":false,"isLocationEnabled":false,"isBusinessHoursEnabled":false},"announcementBarSettings":{"style":1},"popupOverlaySettings":{"style":1,"enabledPages":[]},"commentLikesAllowed":true,"commentAnonAllowed":true,"commentThreaded":true,"commentApprovalRequired":false,"commentAvatarsOn":true,"commentSortType":2,"commentFlagThreshold":0,"commentFlagsAllowed":true,"commentEnableByDefault":true,"commentDisableAfterDaysDefault":0,"disqusShortname":"","commentsEnabled":false,"storeSettings":{"returnPolicy":null,"termsOfService":null,"privacyPolicy":null,"expressCheckout":false,"continueShoppingLinkUrl":"/","useLightCart":false,"showNoteField":false,"shippingCountryDefaultValue":"US","billToShippingDefaultValue":false,"showShippingPhoneNumber":true,"isShippingPhoneRequired":false,"showBillingPhoneNumber":true,"isBillingPhoneRequired":false,"currenciesSupported":["USD","CAD","GBP","AUD","EUR","CHF","NOK","SEK","DKK","NZD","SGD","MXN","HKD","CZK","ILS","MYR","RUB","PHP","PLN","THB"],"defaultCurrency":"USD","selectedCurrency":"USD","measurementStandard":1,"showCustomCheckoutForm":false,"enableMailingListOptInByDefault":false,"sameAsRetailLocation":false,"merchandisingSettings":{"scarcityEnabledOnProductItems":false,"scarcityEnabledOnProductBlocks":false,"scarcityMessageType":"DEFAULT_SCARCITY_MESSAGE","scarcityThreshold":10,"multipleQuantityAllowedForServices":true,"restockNotificationsEnabled":false,"restockNotificationsMailingListSignUpEnabled":false,"restockNotificationsMailingListOptInByDefault":false,"relatedProductsEnabled":false,"relatedProductsOrdering":"random","soldOutVariantsDropdownDisabled":false},"isLive":false,"multipleQuantityAllowedForServices":true},"useEscapeKeyToLogin":true,"trialAssistantEnabled":true,"ssBadgeType":1,"ssBadgePosition":4,"ssBadgeVisibility":1,"ssBadgeDevices":1,"pinterestOverlayOptions":{"mode":"disabled"},"ampEnabled":false},"cookieSettings":{"isCookieBannerEnabled":false,"isRestrictiveCookiePolicyEnabled":false,"isRestrictiveCookiePolicyAbsolute":false,"cookieBannerText":"","cookieBannerTheme":"","cookieBannerVariant":"","cookieBannerPosition":"","cookieBannerCtaVariant":"","cookieBannerCtaText":""},"websiteCloneable":false,"collection":{"title":"Home","id":"5db850cb1739ee1838c29966","fullUrl":"/","type":10},"subscribed":false,"appDomain":"squarespace.com","templateTweakable":true,"tweakJSON":{"outerPadding":"100px","pagePadding":"52px","product-gallery-auto-crop":"true","product-image-auto-crop":"false","topPadding":"100px","tweak-v1-related-products-title-spacing":"50px"},"templateId":"50521cf884aeb45fa5cfdb80","templateVersion":"7","pageFeatures":[1,2,4],"gmRenderKey":"QUl6YVN5Q0JUUk9xNkx1dkZfSUUxcjQ2LVQ0QWVUU1YtMGQ3bXk4","betaFeatureFlags":["ORDERS-SERVICE-check-digital-good-access-with-service","ORDERS-SERVICE-reset-digital-goods-access-with-service","dg_downloads_from_fastly","generic_iframe_loader_for_campaigns","donations_customer_accounts","product-retriever-v2-enabled","domain_registration_via_registrar_service","domain_locking_via_registrar_service","domain_deletion_via_registrar_service","domain_info_via_registrar_service","onboarding_wizard","member_email_verified_flag_migration","commerce_related_products","seven_one_add_page","seven_one_no_refresh_on_manage_items","newsletter_block_captcha","new_billing_system","seven_one_block_annotations","seven_one_block_outlines"],"impersonatedSession":false,"demoCollections":[{"collectionId":"53dbedffe4b010de21d1e87e","deleted":true},{"collectionId":"53dbee0fe4b010de21d1e898","deleted":true},{"collectionId":"53dbee15e4b010de21d1e8a4","deleted":true},{"collectionId":"53dbee1ae4b0475b8bba6e03","deleted":true},{"collectionId":"53eca836e4b04a8ebc02b72f","deleted":false},{"collectionId":"53dbbcb1e4b067cbb1f60e31","deleted":true},{"collectionId":"53e14a0ee4b09a566104d01b","deleted":true}],"tzData":{"zones":[[0,"EU","GMT/BST",null]],"rules":{"EU":[[1981,"max",null,"Mar","lastSun","1:00u","1:00","S"],[1996,"max",null,"Oct","lastSun","1:00u","0",null]]}}};
  script(type='text/javascript').
    SquarespaceFonts.loadViaContext(); Squarespace.load(window);
  script(type='application/ld+json').
    {"url":"https://lemon-grapefruit-97bl.squarespace.com","name":"Izzy & Will","description":"","@context":"http://schema.org","@type":"WebSite"}
  //if gte IE 9
    link(rel='stylesheet' type='text/css' href='//static1.squarespace.com/static/sitecss/5db84ec7ff89931ee6be0730/1/50521cf884aeb45fa5cfdb80/5db84ec8ff89931ee6be0745/947-05142015/1572469721071/site.css?&filterFeatures=false&part=1')
    link(rel='stylesheet' type='text/css' href='//static1.squarespace.com/static/sitecss/5db84ec7ff89931ee6be0730/1/50521cf884aeb45fa5cfdb80/5db84ec8ff89931ee6be0745/947-05142015/1572469721071/site.css?&filterFeatures=false&part=2')
    link(rel='stylesheet' type='text/css' href='//static1.squarespace.com/static/sitecss/5db84ec7ff89931ee6be0730/1/50521cf884aeb45fa5cfdb80/5db84ec8ff89931ee6be0745/947-05142015/1572469721071/site.css?&filterFeatures=false&part=3')
    link(rel='stylesheet' type='text/css' href='//static1.squarespace.com/static/sitecss/5db84ec7ff89931ee6be0730/1/50521cf884aeb45fa5cfdb80/5db84ec8ff89931ee6be0745/947-05142015/1572469721071/site.css?&filterFeatures=false&part=4')
  //if lt IE 9
    link(rel='stylesheet' type='text/css' href='//static1.squarespace.com/static/sitecss/5db84ec7ff89931ee6be0730/1/50521cf884aeb45fa5cfdb80/5db84ec8ff89931ee6be0745/947-05142015/1572469721071/site.css?&filterFeatures=false&noMedia=true&part=1')
    link(rel='stylesheet' type='text/css' href='//static1.squarespace.com/static/sitecss/5db84ec7ff89931ee6be0730/1/50521cf884aeb45fa5cfdb80/5db84ec8ff89931ee6be0745/947-05142015/1572469721071/site.css?&filterFeatures=false&noMedia=true&part=2')
    link(rel='stylesheet' type='text/css' href='//static1.squarespace.com/static/sitecss/5db84ec7ff89931ee6be0730/1/50521cf884aeb45fa5cfdb80/5db84ec8ff89931ee6be0745/947-05142015/1572469721071/site.css?&filterFeatures=false&noMedia=true&part=3')
    link(rel='stylesheet' type='text/css' href='//static1.squarespace.com/static/sitecss/5db84ec7ff89931ee6be0730/1/50521cf884aeb45fa5cfdb80/5db84ec8ff89931ee6be0745/947-05142015/1572469721071/site.css?&filterFeatures=false&noMedia=true&part=4')
  //if !IE
  //link(rel='stylesheet' type='text/css' href='//static1.squarespace.com/static/sitecss/5db84ec7ff89931ee6be0730/1/50521cf884aeb45fa5cfdb80/5db84ec8ff89931ee6be0745/947-05142015/1572469721071/site.css?&filterFeatures=false')
  // <![endif]
  script.
    Static.COOKIE_BANNER_CAPABLE = true;
  // End of Squarespace Headers
  script(src='https://static1.squarespace.com/static/ta/5052176b84aeb45fa5cfcc83/947/scripts/site-bundle.js' type='text/javascript')
body#collection-5db850cb1739ee1838c29966(class='show-products-category-navigation   page-borders-thick canvas-style-normal  header-subtitle-none banner-alignment-center blog-layout-center project-layout-left-sidebar thumbnails-on-open-page-show-all social-icon-style-round hide-social-icons hide-info-footer hide-page-banner hide-page-title hide-page-title-underline  hide-article-author    event-thumbnails event-thumbnail-size-32-standard event-date-label event-date-label-time event-list-show-cats event-list-date event-list-time event-list-address   event-icalgcal-links  event-excerpts  event-item-back-link    product-list-titles-under product-list-alignment-center product-item-size-32-standard  product-gallery-size-11-square product-gallery-auto-crop show-product-price show-product-item-nav product-social-sharing tweak-v1-related-products-image-aspect-ratio-11-square tweak-v1-related-products-details-alignment-center newsletter-style-dark  opentable-style-light small-button-style-outline small-button-shape-square medium-button-style-solid medium-button-shape-square large-button-style-solid large-button-shape-square image-block-poster-text-alignment-center image-block-card-dynamic-font-sizing image-block-card-content-position-center image-block-card-text-alignment-left image-block-overlap-dynamic-font-sizing image-block-overlap-content-position-center image-block-overlap-text-alignment-left image-block-collage-dynamic-font-sizing image-block-collage-content-position-top image-block-collage-text-alignment-left image-block-stack-dynamic-font-sizing image-block-stack-text-alignment-left button-style-solid button-corner-style-square tweak-product-quick-view-button-style-floating tweak-product-quick-view-button-position-bottom tweak-product-quick-view-lightbox-excerpt-display-truncate tweak-product-quick-view-lightbox-show-arrows tweak-product-quick-view-lightbox-show-close-button tweak-product-quick-view-lightbox-controls-weight-light native-currency-code-usd collection-type-page collection-layout-default collection-5db850cb1739ee1838c29966 homepage mobile-style-available site-title')
  #canvas
    #mobileNav
      .wrapper
        nav.main-nav.mobileNav
          ul
            li.page-collection.active-link
              a(href='/') Home
            li.page-collection
              a(href='/wedding') Wedding
            li.page-collection
              a(href='/travel') Travel
            li.page-collection
              a(href='/sleeping') Sleeping
            li.page-collection
              a(href='/gifts') Gifts
            li.page-collection
              a(href='/rsvp') RSVP
            li.page-collection
              a(href='/photos') Photos
    #mobileMenuLink
      a Menu
    header#header.clear
      #upper-logo
        h1.logo(data-content-field='site-title')
          a(href='/') Izzy &amp; Will
      script.
        if (parseInt(Y.one('body').getComputedStyle('width'),10) <= 640) {
          Y.use('squarespace-ui-base', function(Y) {
            Y.one("#upper-logo .logo").plug(Y.Squarespace.TextShrink, {
              parentEl: Y.one('#upper-logo')
            });
          });
        }
      .site-info(data-content-field='business-information')
        .site-address Street Address
        .site-city-state City, State, Zip
        .site-phone Phone Number
      .site-tag-line
        span RSVP - Izzy &amp; Will
      .custom-info
        #customInfoBlock.sqs-layout.sqs-grid-12.columns-12(data-layout-label='Header Subtitle: Custom Content' data-type='block-field')
          .row.sqs-row
            .col.sqs-col-12.span-12
              #block-b1c45cf333263ee1b3e7.sqs-block.html-block.sqs-block-html(data-block-type='2')
                .sqs-block-content
                  p.text-align-center Your Custom Text Here
      #lower-logo
        h1.logo(data-content-field='site-title')
          a(href='/') Izzy &amp; Will
      script.
        Y.use('squarespace-ui-base', function(Y) {
          Y.one("#lower-logo .logo").plug(Y.Squarespace.TextShrink, {
            parentEl: Y.one('#lower-logo')
          });
        });
      #topNav
        nav.main-nav(data-content-field='navigation')
          ul
            li.page-collection.active-link
              a(href='/') Home
            li.page-collection
              a(href='/wedding') Wedding
            li.page-collection
              a(href='/travel') Travel
            li.page-collection
              a(href='/sleeping') Sleeping
            li.page-collection
              a(href='/gifts') Gifts
            li.page-collection
              a(href='/rsvp') RSVP
            li.page-collection
              a(href='/photos') Photos
          .page-divider
    .page-divider.top-divider
    // // page image or divider
    section#page.clear(role='main' data-content-field='main-content' data-collection-id='5db850cb1739ee1838c29966' data-edit-main-image='Banner')
      #page-5db88a057cb794565dabad7e.sqs-layout.sqs-grid-12.columns-12.sqs-frontend-overlay-editor-widget-host(data-type='page' style='')
        block content
      #yui_3_17_2_1_1572780189629_3781.sqs-layout-insert-point-container

  div
  script(type='text/javascript' data-sqs-type='imageloader-bootstrapper').
    (function() {if(window.ImageLoader) { window.ImageLoader.bootstrap({}, document); }})();
  script.
    Squarespace.afterBodyLoad(Y);
