extends _layout
include mixins/_headerImage
block variables
  - var view = 'Sleeping'
block content
  .sqs-layout.sqs-grid-12.columns-12.sqs-frontend-overlay-editor-widget-host(data-type='page' style='')
    +headerImage('/images/sleeping.jpg')
    #yui_3_17_2_1_1573499279525_84.row.sqs-row
      #yui_3_17_2_1_1573499279525_83.col.sqs-col-12.span-12
        #block-1bf0bffa367475dad426.sqs-block.html-block.sqs-block-html(data-block-type='2')
          .sqs-block-content
            h1(style='text-align:center;white-space:pre-wrap;') stay at orchardleigh
            p(style='white-space:pre-wrap;')
              | The stunning Orchardleigh House has 41 bedrooms on site. This means
              | that once you&rsquo;re all partied out then your bed isn&rsquo;t too far away.
            p(style='white-space:pre-wrap;')
              | We would love it if you would stay with us at Orchardleigh, and join
              | us for the full celebration and a morning breakfast before journeying back home. We will cover breakfast for
              | anyone who is ready to eat again in the morning. But all the cake has to be eaten first!
            p(style='white-space:pre-wrap;')
              | If you wish to book a room, then please put your room preference in
              | the &ldquo;room preference&ldquo; section of the RSVP. We will then email you a way to pay for the room so that it can
              | be reserved.
            p(style='white-space:pre-wrap;')
              | The room details can be found
              a(href='https://www.orchardleigh.net/orchardleigh-house-bedrooms' target="_blank")  here
              |  on the Orchardleigh website.
              |             A floormap for the rooms hotel can be found
              a(href='https://www.orchardleigh.net/uploads/Documents/8.pdf' target="_blank")  here
              | .
              |             The Library and The Ballroom is where the action will be happening on the night, so if you are not a night
              |             owl, then make sure you bag one of the rooms further away from the action.
            p(style='white-space:pre-wrap;')
              | My all talented wife to be has secured the rooms at the spring rate so please use that rate when considering room type.
    .sqs-layout.sqs-grid-12.columns-12(data-type='page')
      .row.sqs-row
        .col.sqs-col-6.span-6
          .sqs-block.image-block.sqs-block-image(data-aspect-ratio='75' data-block-type='5')
            .sqs-block-content
              .image-block-outer-wrapper.layout-caption-below.design-layout-inline.combination-animation-none.individual-animation-none.individual-text-animation-none
                .intrinsic(style='max-width:800.0px;')
                  .image-block-wrapper.has-aspect-ratio(style='padding-bottom:75.0%;' data-animation-tier='1' data-description="<p><strong>Example room: Housekeeper's<br></strong>Newly-restored, this room has views across the Golf course and has one double bed with an en-suite bath wash basin and toilet.<br>£143 per night</p>")
                    img(src='/images/rooms/housekeepers.jpeg' alt="Example room: Housekeeper's  Newly-restored, this room has views across the Golf course and has one double bed with an en-suite bath wash basin and toilet. £143 per night")
                  .image-caption-wrapper
                    .image-caption
                      p
                        strong
                          | Example room: Housekeeper&apos;s
                          br
                        | Newly-restored,
                        |                       this room has views across the Golf course and has one double bed with an en-suite bath wash basin
                        |                       and toilet.
                        br
                        | &pound;143 per night
        .col.sqs-col-6.span-6
          .sqs-block.image-block.sqs-block-image(data-aspect-ratio='75' data-block-type='5')
            .sqs-block-content
              .image-block-outer-wrapper.layout-caption-below.design-layout-inline.combination-animation-none.individual-animation-none.individual-text-animation-none
                .intrinsic(style='max-width:800.0px;')
                  .image-block-wrapper.has-aspect-ratio(style='padding-bottom:75.0%;' data-animation-tier='1' data-description="<p><strong>Example room: Jumping Jack's 1<br></strong>Their latest conversion located in the Victorian Courtyard, this light and airy ground floor family room offers a double and single bed and en suite bathroom<br>£121 per night</p>")
                    img(src='/images/rooms/jumpingjacks.jpg' alt="Example room: Housekeeper's  Newly-restored, this room has views across the Golf course and has one double bed with an en-suite bath wash basin and toilet. £143 per night")
                  .image-caption-wrapper
                    .image-caption
                      p
                        strong
                          | Example room: Jumping Jack&apos;s 1
                          br
                        | Their latest conversion located in the Victorian Courtyard, this light and airy ground floor family room offers a double and single bed and en suite bathroom
                        br
                        | &pound;121 per night
      .row.sqs-row
        .col.sqs-col-12.span-12
          .sqs-block.html-block.sqs-block-html(data-block-type='2')
            .sqs-block-content
              p(style='white-space:pre-wrap;')
              | There are many options on
              a(href='https://www.orchardleigh.net/orchardleigh-house-bedrooms' target="_blank")  Orchardleigh&rsquo;s website
              | .
