extends _layout
include mixins/_headerImage
block variables
  - var view = 'Travel'
block content
  #page-5db850cb1739ee1838c29966.sqs-layout.sqs-grid-12.columns-12(data-type='page' data-updated-on='1572360491479')
    +headerImage('/images/travel.jpeg')
    #block-yui_3_17_2_1_1572362319442_23576.sqs-block.html-block.sqs-block-html(data-block-type='2')
      .sqs-block-content
        h1(style='text-align:center;white-space:pre-wrap;')
          strong venue
        p(style='text-align:center;white-space:pre-wrap;')
          | The ceremony, reception and after party will be held at the same venue.
          br
          | Conveniently the venue also has 41 rooms, and can sleep 85.
    #block-cf5a434c6b1594ef8828.sqs-block.spacer-block.sqs-block-spacer.sized.vsize-1(data-block-type='21')
      .sqs-block-content &nbsp;

  .row.sqs-row
    .col.sqs-col-1.span-1
      #block-5aab630064a4da4097b4.sqs-block.spacer-block.sqs-block-spacer.sized.vsize-1(data-block-type='21')
        .sqs-block-content &nbsp;
    .col.sqs-col-10.span-10
      #block-yui_3_17_2_1_1572362319442_12350.sqs-block.map-block.sqs-block-map.sqs-col-5.span-5.float.float-right(data-aspect-ratio='67.71653543307086' data-block-json='{"location":{"mapLat":51.249075,"mapLng":-2.3370102999999744,"mapZoom":11,"markerLat":51.249075,"markerLng":-2.3370102999999744,"addressLine1":"Frome, Somerset","addressLine2":"BA11 2PB","addressCountry":"UK","addressTitle":"Orchardleigh House"},"vSize":null,"style":1,"labels":true,"terrain":false,"controls":false,"hSize":5,"floatDir":"right","aspectRatio":67.71653543307086}' data-block-type='4')
        #yui_3_17_2_1_1573498403815_100.sqs-block-content.sqs-intrinsic.page-map(style='padding-bottom: 67.7165%; position: relative; overflow: hidden;')
          div(style='height: 100%; width: 100%; position: absolute; top: 0px; left: 0px; background-color: rgb(229, 227, 223);')
            .gm-style(style='position: absolute; z-index: 0; left: 0px; top: 0px; height: 100%; width: 100%; padding: 0px; border-width: 0px; margin: 0px;')
              div(tabindex='0' style='position: absolute; z-index: 0; left: 0px; top: 0px; height: 100%; width: 100%; padding: 0px; border-width: 0px; margin: 0px; cursor: url("https://maps.gstatic.com/mapfiles/openhand_8_8.cur"), default; touch-action: pan-x pan-y;')
                div(style='z-index: 1; position: absolute; left: 50%; top: 50%; width: 100%; transform: translate(0px, 0px);')
                  div(style='position: absolute; left: 0px; top: 0px; z-index: 100; width: 100%;')
                    div(style='position: absolute; left: 0px; top: 0px; z-index: 0;')
                      div(style='position: absolute; z-index: 989; transform: matrix(1, 0, 0, 1, -180, -94);')
                        div(style='position: absolute; left: 256px; top: 0px; width: 256px; height: 256px;')
                          div(style='width: 256px; height: 256px;')
                        div(style='position: absolute; left: 0px; top: 0px; width: 256px; height: 256px;')
                          div(style='width: 256px; height: 256px;')
                        div(style='position: absolute; left: 0px; top: -256px; width: 256px; height: 256px;')
                          div(style='width: 256px; height: 256px;')
                        div(style='position: absolute; left: 256px; top: -256px; width: 256px; height: 256px;')
                          div(style='width: 256px; height: 256px;')
                  div(style='position: absolute; left: 0px; top: 0px; z-index: 101; width: 100%;')
                  div(style='position: absolute; left: 0px; top: 0px; z-index: 102; width: 100%;')
                  div(style='position: absolute; left: 0px; top: 0px; z-index: 103; width: 100%;')
                    div(style='position: absolute; left: 0px; top: 0px; z-index: -1;')
                      div(style='position: absolute; z-index: 989; transform: matrix(1, 0, 0, 1, -180, -94);')
                        div(style='width: 256px; height: 256px; overflow: hidden; position: absolute; left: 256px; top: 0px;')
                        div(style='width: 256px; height: 256px; overflow: hidden; position: absolute; left: 0px; top: 0px;')
                        div(style='width: 256px; height: 256px; overflow: hidden; position: absolute; left: 0px; top: -256px;')
                        div(style='width: 256px; height: 256px; overflow: hidden; position: absolute; left: 256px; top: -256px;')
                    div(style='width: 27px; height: 43px; overflow: hidden; position: absolute; left: -14px; top: -43px; z-index: 0; animation-duration: 500ms; animation-iteration-count: 1; animation-name: _gm2482;')
                      img(alt='' src='https://maps.gstatic.com/mapfiles/api-3/images/spotlight-poi2.png' draggable='false' style='position: absolute; left: 0px; top: 0px; width: 27px; height: 43px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;')
                  div(style='position: absolute; left: 0px; top: 0px; z-index: 0;')
                    div(style='position: absolute; z-index: 989; transform: matrix(1, 0, 0, 1, -180, -94);')
                      div(style='position: absolute; left: 256px; top: 0px; width: 256px; height: 256px; transition: opacity 200ms linear 0s;')
                        img(draggable='false' alt='' role='presentation' src='https://maps.googleapis.com/maps/vt?pb=!1m5!1m4!1i11!2i1011!3i683!4i256!2m3!1e0!2sm!3i491201122!3m14!2sen!3sUS!5e18!12m1!1e68!12m3!1e37!2m1!1ssmartmaps!12m4!1e26!2m2!1sstyles!2zcy50OjMzfHMuZTpsfHAudjpvZmYscy5lOmx8cC52Om9mZixzLmU6bHxwLnY6b24!4e0&key=AIzaSyCBTROq6LuvF_IE1r46-T4AeTSV-0d7my8&token=27480' style='width: 256px; height: 256px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;')
                      div(style='position: absolute; left: 0px; top: 0px; width: 256px; height: 256px; transition: opacity 200ms linear 0s;')
                        img(draggable='false' alt='' role='presentation' src='https://maps.googleapis.com/maps/vt?pb=!1m5!1m4!1i11!2i1010!3i683!4i256!2m3!1e0!2sm!3i491201122!3m14!2sen!3sUS!5e18!12m1!1e68!12m3!1e37!2m1!1ssmartmaps!12m4!1e26!2m2!1sstyles!2zcy50OjMzfHMuZTpsfHAudjpvZmYscy5lOmx8cC52Om9mZixzLmU6bHxwLnY6b24!4e0&key=AIzaSyCBTROq6LuvF_IE1r46-T4AeTSV-0d7my8&token=120827' style='width: 256px; height: 256px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;')
                      div(style='position: absolute; left: 256px; top: -256px; width: 256px; height: 256px; transition: opacity 200ms linear 0s;')
                        img(draggable='false' alt='' role='presentation' src='https://maps.googleapis.com/maps/vt?pb=!1m5!1m4!1i11!2i1011!3i682!4i256!2m3!1e0!2sm!3i491201122!3m14!2sen!3sUS!5e18!12m1!1e68!12m3!1e37!2m1!1ssmartmaps!12m4!1e26!2m2!1sstyles!2zcy50OjMzfHMuZTpsfHAudjpvZmYscy5lOmx8cC52Om9mZixzLmU6bHxwLnY6b24!4e0&key=AIzaSyCBTROq6LuvF_IE1r46-T4AeTSV-0d7my8&token=67223' style='width: 256px; height: 256px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;')
                      div(style='position: absolute; left: 0px; top: -256px; width: 256px; height: 256px; transition: opacity 200ms linear 0s;')
                        img(draggable='false' alt='' role='presentation' src='https://maps.googleapis.com/maps/vt?pb=!1m5!1m4!1i11!2i1010!3i682!4i256!2m3!1e0!2sm!3i491201134!3m14!2sen!3sUS!5e18!12m1!1e68!12m3!1e37!2m1!1ssmartmaps!12m4!1e26!2m2!1sstyles!2zcy50OjMzfHMuZTpsfHAudjpvZmYscy5lOmx8cC52Om9mZixzLmU6bHxwLnY6b24!4e0&key=AIzaSyCBTROq6LuvF_IE1r46-T4AeTSV-0d7my8&token=24641' style='width: 256px; height: 256px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;')
                .gm-style-pbc(style='z-index: 2; position: absolute; height: 100%; width: 100%; padding: 0px; border-width: 0px; margin: 0px; left: 0px; top: 0px; opacity: 0;')
                  p.gm-style-pbt
                div(style='z-index: 3; position: absolute; height: 100%; width: 100%; padding: 0px; border-width: 0px; margin: 0px; left: 0px; top: 0px; touch-action: pan-x pan-y;')
                  div(style='z-index: 4; position: absolute; left: 50%; top: 50%; width: 100%; transform: translate(0px, 0px);')
                    div(style='position: absolute; left: 0px; top: 0px; z-index: 104; width: 100%;')
                    div(style='position: absolute; left: 0px; top: 0px; z-index: 105; width: 100%;')
                    div(style='position: absolute; left: 0px; top: 0px; z-index: 106; width: 100%;')
                      div(style='width: 27px; height: 43px; overflow: hidden; position: absolute; opacity: 0; left: -14px; top: -43px; z-index: 0;')
                        img(alt='' src='https://maps.gstatic.com/mapfiles/api-3/images/spotlight-poi2.png' draggable='false' usemap='#gmimap0' style='position: absolute; left: 0px; top: 0px; width: 27px; height: 43px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;')
                        map#gmimap0(name='gmimap0')
                          area(log='miw' coords='13.5,0,4,3.75,0,13.5,13.5,43,27,13.5,23,3.75' shape='poly' title='Frome, Somerset BA11 2PB, UK' style='cursor: pointer; touch-action: none;')
                    div(style='position: absolute; left: 0px; top: 0px; z-index: 107; width: 100%;')
              iframe(aria-hidden='true' frameborder='0' style='z-index: -1; position: absolute; width: 100%; height: 100%; top: 0px; left: 0px; border: none;' src='about:blank')
              div(style='margin-left: 5px; margin-right: 5px; z-index: 1000000; position: absolute; left: 0px; bottom: 0px;')
                a(target='_blank' rel='noopener' href='https://maps.google.com/maps?ll=51.249075,-2.33701&z=11&t=m&hl=en&gl=US&mapclient=apiv3' title='Open this area in Google Maps (opens a new window)' style='position: static; overflow: visible; float: none; display: inline;')
                  div(style='width: 66px; height: 26px; cursor: pointer;')
                    img(alt='' src='https://maps.gstatic.com/mapfiles/api-3/images/google_white5.png' draggable='false' style='position: absolute; left: 0px; top: 0px; width: 66px; height: 26px; user-select: none; border: 0px; padding: 0px; margin: 0px;')
              div(style='background-color: white; padding: 15px 21px; border: 1px solid rgb(171, 171, 171); font-family: Roboto, Arial, sans-serif; color: rgb(34, 34, 34); box-sizing: border-box; box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 16px; z-index: 10000002; display: none; width: 299px; height: 180px; position: absolute; left: 5px; top: 15px;')
                div(style='padding: 0px 0px 10px; font-size: 16px; box-sizing: border-box;') Map Data
                div(style='font-size: 13px;') Map data &copy;2019
                button.gm-ui-hover-effect(draggable='false' title='Close' aria-label='Close' type='button' style='background: none; display: block; border: 0px; margin: 0px; padding: 0px; position: absolute; cursor: pointer; user-select: none; top: 0px; right: 0px; width: 37px; height: 37px;')
                  img(src='data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224px%22%20height%3D%2224px%22%20viewBox%3D%220%200%2024%2024%22%20fill%3D%22%23000000%22%3E%0A%20%20%20%20%3Cpath%20d%3D%22M19%206.41L17.59%205%2012%2010.59%206.41%205%205%206.41%2010.59%2012%205%2017.59%206.41%2019%2012%2013.41%2017.59%2019%2019%2017.59%2013.41%2012z%22%2F%3E%0A%20%20%20%20%3Cpath%20d%3D%22M0%200h24v24H0z%22%20fill%3D%22none%22%2F%3E%0A%3C%2Fsvg%3E%0A' style='pointer-events: none; display: block; width: 13px; height: 13px; margin: 12px;')
              .gmnoprint(style='z-index: 1000001; position: absolute; right: 166px; bottom: 0px; width: 87px;')
                .gm-style-cc(draggable='false' style='user-select: none; height: 14px; line-height: 14px;')
                  div(style='opacity: 0.7; width: 100%; height: 100%; position: absolute;')
                    div(style='width: 1px;')
                    div(style='background-color: rgb(245, 245, 245); width: auto; height: 100%; margin-left: 1px;')
                  div(style='position: relative; padding-right: 6px; padding-left: 6px; box-sizing: border-box; font-family: Roboto, Arial, sans-serif; font-size: 10px; color: rgb(68, 68, 68); white-space: nowrap; direction: ltr; text-align: right; vertical-align: middle; display: inline-block;')
                    a(style='text-decoration: none; cursor: pointer; display: none;') Map Data
                    span Map data &copy;2019
              .gmnoscreen(style='position: absolute; right: 0px; bottom: 0px;')
                div(style='font-family: Roboto, Arial, sans-serif; font-size: 11px; color: rgb(68, 68, 68); direction: ltr; text-align: right; background-color: rgb(245, 245, 245);') Map data &copy;2019
              .gmnoprint.gm-style-cc(draggable='false' style='z-index: 1000001; user-select: none; height: 14px; line-height: 14px; position: absolute; right: 95px; bottom: 0px;')
                div(style='opacity: 0.7; width: 100%; height: 100%; position: absolute;')
                  div(style='width: 1px;')
                  div(style='background-color: rgb(245, 245, 245); width: auto; height: 100%; margin-left: 1px;')
                div(style='position: relative; padding-right: 6px; padding-left: 6px; box-sizing: border-box; font-family: Roboto, Arial, sans-serif; font-size: 10px; color: rgb(68, 68, 68); white-space: nowrap; direction: ltr; text-align: right; vertical-align: middle; display: inline-block;')
                  a(href='https://www.google.com/intl/en_US/help/terms_maps.html' target='_blank' rel='noopener' style='text-decoration: none; cursor: pointer; color: rgb(68, 68, 68);') Terms of Use
              button.gm-control-active.gm-fullscreen-control(draggable='false' title='Toggle fullscreen view' aria-label='Toggle fullscreen view' type='button' style='background: none rgb(255, 255, 255); border: 0px; margin: 10px; padding: 0px; position: absolute; cursor: pointer; user-select: none; border-radius: 2px; height: 40px; width: 40px; box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px; overflow: hidden; display: none; top: 0px; right: 0px;')
                img(src='data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2218%22%20height%3D%2218%22%20viewBox%3D%220%20018%2018%22%3E%0A%20%20%3Cpath%20fill%3D%22%23666%22%20d%3D%22M0%2C0v2v4h2V2h4V0H2H0z%20M16%2C0h-4v2h4v4h2V2V0H16z%20M16%2C16h-4v2h4h2v-2v-4h-2V16z%20M2%2C12H0v4v2h2h4v-2H2V12z%22%2F%3E%0A%3C%2Fsvg%3E%0A' style='height: 18px; width: 18px;')
                img(src='data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2218%22%20height%3D%2218%22%20viewBox%3D%220%200%2018%2018%22%3E%0A%20%20%3Cpath%20fill%3D%22%23333%22%20d%3D%22M0%2C0v2v4h2V2h4V0H2H0z%20M16%2C0h-4v2h4v4h2V2V0H16z%20M16%2C16h-4v2h4h2v-2v-4h-2V16z%20M2%2C12H0v4v2h2h4v-2H2V12z%22%2F%3E%0A%3C%2Fsvg%3E%0A' style='height: 18px; width: 18px;')
                img(src='data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2218%22%20height%3D%2218%22%20viewBox%3D%220%200%2018%2018%22%3E%0A%20%20%3Cpath%20fill%3D%22%23111%22%20d%3D%22M0%2C0v2v4h2V2h4V0H2H0z%20M16%2C0h-4v2h4v4h2V2V0H16z%20M16%2C16h-4v2h4h2v-2v-4h-2V16z%20M2%2C12H0v4v2h2h4v-2H2V12z%22%2F%3E%0A%3C%2Fsvg%3E%0A' style='height: 18px; width: 18px;')
              .gm-style-cc(draggable='false' style='user-select: none; height: 14px; line-height: 14px; position: absolute; right: 0px; bottom: 0px;')
                div(style='opacity: 0.7; width: 100%; height: 100%; position: absolute;')
                  div(style='width: 1px;')
                  div(style='background-color: rgb(245, 245, 245); width: auto; height: 100%; margin-left: 1px;')
                div(style='position: relative; padding-right: 6px; padding-left: 6px; box-sizing: border-box; font-family: Roboto, Arial, sans-serif; font-size: 10px; color: rgb(68, 68, 68); white-space: nowrap; direction: ltr; text-align: right; vertical-align: middle; display: inline-block;')
                  a(target='_blank' rel='noopener' title='Report errors in the road map or imagery to Google' href='https://www.google.com/maps/@51.249075,-2.3370103,11z/data=!10m1!1e1!12b1?source=apiv3&rapsrc=apiv3' style='font-family: Roboto, Arial, sans-serif; font-size: 10px; color: rgb(68, 68, 68); text-decoration: none; position: relative;') Report a map error
      #block-yui_3_17_2_1_1572373581635_11387.sqs-block.html-block.sqs-block-html(data-block-type='2')
        .sqs-block-content
          h1(style='text-align:center;white-space:pre-wrap;')
            | orchardleigh
            br
            | house
          p(style='text-align:center;white-space:pre-wrap;')
            | Orchardleigh Park
            br
            | Frome
            br
            | Somerset
            br
            | BA11 2PB
    .col.sqs-col-1.span-1
      #block-4686b3327f7cc87ffa86.sqs-block.spacer-block.sqs-block-spacer.sized.vsize-1(data-block-type='21')
        .sqs-block-content &nbsp;

  .row.sqs-row
    .col.sqs-col-12.span-12
      #block-yui_3_17_2_1_1572373581635_13187.sqs-block.html-block.sqs-block-html(data-block-type='2')
        .sqs-block-content
          h1(style='white-space:pre-wrap;') directions
          p(style='white-space:pre-wrap;')
          | The easiest way to get to Orchardleigh, is to use google maps to get to the
          |
          a(href='https://goo.gl/maps/LN4DZFoq2t5GtSxe6') Entrance to the estate.
          br
          | Once on the estate, continue&nbsp;for 1.5 miles along the estate&rsquo;s private drive and through the&nbsp;golf course. The venue is clearly signposted from here.
          h3(style='white-space:pre-wrap;')
            strong detailed directions
          p(style='white-space:pre-wrap;')
          | The entrance to the Estate is 2 miles north of Frome, on the A362
          | towards Radstock.
          h3(style='white-space:pre-wrap;') From the M4
          p(style='white-space:pre-wrap;')
          | Exit at Junction 18 and follow the signs to Bath. Follow the signs for
          | the A36 towards Warminster for 10 miles and then the A361 towards Frome.
          h3(style='white-space:pre-wrap;') From the M3
          p(style='white-space:pre-wrap;')
          | Exit onto the A303 towards the South West. After 20 miles, turn right
          | onto the A36 towards Warminster then the A361 towards Frome.
          h3(style='white-space:pre-wrap;')
            em then...
          p(style='white-space:pre-wrap;')
          | Go straight&nbsp;over the first roundabout and proceed for 1 mile
          | before turning&nbsp;right; signposted to Radstock. Proceed for 1.5 miles and&nbsp;turn right at the
          | T-junction. Continue for 500 yards and you&nbsp;will see the entrance to Orchardleigh Estate on your right -
          | between the two stone lodges. Once on the estate, continue&nbsp;for 1.5 miles along the estate&rsquo;s private drive
          | and through the&nbsp;golf course. The venues are clearly signposted from here.
          h3(style='white-space:pre-wrap;')
            strong Coordinates
          p(style='white-space:pre-wrap;')
            | N: 51o, 15&acute;, 39&quot;
            br
            | W: 02o, 19&acute;, 15&quot;
      #block-e562d57eff22e1b1fec4.sqs-block.spacer-block.sqs-block-spacer.sized.vsize-1(data-block-type='21')
        .sqs-block-content &nbsp;



