extends _layout
include mixins/_headerImage
block variables
  - var view = 'Travel'
block content
  .sqs-layout.sqs-grid-12.columns-12.sqs-frontend-overlay-editor-widget-host(data-type='page' style='')
    +headerImage('/images/travel.jpeg')
    #block-yui_3_17_2_1_1572362319442_23576.sqs-block.html-block.sqs-block-html(data-block-type='2')
      .sqs-block-content
        h1(style='text-align:center;white-space:pre-wrap;')
          strong venue
        p(style='text-align:center;white-space:pre-wrap;')
          | The ceremony, reception and after party will be held at the same venue.
          br
          | Conveniently the venue also has 41 rooms, and can sleep 85.
    #block-cf5a434c6b1594ef8828.sqs-block.spacer-block.sqs-block-spacer.sized.vsize-1(data-block-type='21')
      .sqs-block-content &nbsp;

  .sqs-layout.sqs-grid-12.columns-12.sqs-frontend-overlay-editor-widget-host(data-type='page' style='')
    .row.sqs-row
      .col.sqs-col-1.span-1
        #block-5aab630064a4da4097b4.sqs-block.spacer-block.sqs-block-spacer.sized.vsize-1(data-block-type='21')
          .sqs-block-content &nbsp;
      .col.sqs-col-5.span-5
        #block-yui_3_17_2_1_1572373581635_11387.sqs-block.html-block.sqs-block-html(data-block-type='2')
          .sqs-block-content
            h1(style='text-align:center;white-space:pre-wrap;')
              | orchardleigh
              br
              | house
            p(style='text-align:center;white-space:pre-wrap;')
              | Orchardleigh Park
              br
              | Frome
              br
              | Somerset
              br
              | BA11 2PB
      .col.sqs-col-6.span-6
        .sqs-block.image-block.sqs-block-image(data-aspect-ratio='75' data-block-type='5')
          .sqs-block-content
            .image-block-outer-wrapper.layout-caption-below.design-layout-inline.combination-animation-none.individual-animation-none.individual-text-animation-none
              .intrinsic(style='max-width:800.0px;')
                .image-block-wrapper.has-aspect-ratio(style='padding-bottom:75.0%;' data-animation-tier='1')
                  img(src='/images/venue.jpg')

    .row.sqs-row
      .col.sqs-col-12.span-12
        #block-yui_3_17_2_1_1572373581635_13187.sqs-block.html-block.sqs-block-html(data-block-type='2')
          .sqs-block-content
            h1(style='white-space:pre-wrap;') directions
            p(style='white-space:pre-wrap;')
            | The easiest way to get to Orchardleigh, is to use google maps to get to the
            |
            a(href='https://goo.gl/maps/LN4DZFoq2t5GtSxe6') Entrance to the estate.
            br
            br
            #map
            br
            script(async defer src=`https://maps.googleapis.com/maps/api/js?key=${mapsApiKey}&callback=initMap`)
            | Once on the estate, continue&nbsp;for 1.5 miles along the estate&rsquo;s private drive and through the&nbsp;golf course. The venue is clearly signposted from here.
            h3(style='white-space:pre-wrap;')
              strong detailed directions
            p(style='white-space:pre-wrap;')
            | The entrance to the Estate is 2 miles north of Frome, on the A362
            | towards Radstock.
            h3(style='white-space:pre-wrap;') From the M4
            p(style='white-space:pre-wrap;')
            | Exit at Junction 18 and follow the signs to Bath. Follow the signs for
            | the A36 towards Warminster for 10 miles and then the A361 towards Frome.
            h3(style='white-space:pre-wrap;') From the M3
            p(style='white-space:pre-wrap;')
            | Exit onto the A303 towards the South West. After 20 miles, turn right
            | onto the A36 towards Warminster then the A361 towards Frome.
            h3(style='white-space:pre-wrap;')
              em then...
            p(style='white-space:pre-wrap;')
            | Go straight&nbsp;over the first roundabout and proceed for 1 mile
            | before turning&nbsp;right; signposted to Radstock. Proceed for 1.5 miles and&nbsp;turn right at the
            | T-junction. Continue for 500 yards and you&nbsp;will see the entrance to Orchardleigh Estate on your right -
            | between the two stone lodges. Once on the estate, continue&nbsp;for 1.5 miles along the estate&rsquo;s private drive
            | and through the&nbsp;golf course. The venues are clearly signposted from here.
            h3(style='white-space:pre-wrap;')
              strong Coordinates
            p(style='white-space:pre-wrap;')
              | N: 51o, 15&acute;, 39&quot;
              br
              | W: 02o, 19&acute;, 15&quot;
        #block-e562d57eff22e1b1fec4.sqs-block.spacer-block.sqs-block-spacer.sized.vsize-1(data-block-type='21')
          .sqs-block-content &nbsp;



