extends _layout
include mixins/_headerImage
block variables
  - var view = 'Wedding'
block content
  #page-5db850cb1739ee1838c29966.sqs-layout.sqs-grid-12.columns-12(data-type='page' data-updated-on='1572360491479')
    +headerImage('https://images.squarespace-cdn.com/content/v1/53dbbca5e4b090699000a2b6/1407273893603-RKYTXSZWMQ914HR6GR1Z/ke17ZwdGBToddI8pDm48kCKxPW2sfGBnvcQSgcMLVQQUqsxRUqqbr1mOJYKfIPR7LoDQ9mXPOjoJoqy81S2I8N_N4V1vUb5AoIIIbLZhVYy7Mythp_T-mtop-vrsUOmeInPi9iDjx9w8K4ZfjXt2dh4T5RKB6zPI3hbe2JUz2BbdWsSPbgPXsF7Rr_6Gv48QZDqXZYzu2fuaodM4POSZ4w/028.jpg?format=1000w')
    .row.sqs-row
      .col.sqs-col-2.span-2
        #block-122afd0a3b0d0288bcf2.sqs-block.spacer-block.sqs-block-spacer.sized.vsize-1(data-block-type='21')
          .sqs-block-content &nbsp;
      .col.sqs-col-8.span-8
        #block-c5097a864180a39c6c3a.sqs-block.html-block.sqs-block-html(data-block-type='2')
          .sqs-block-content
            h2(style='text-align:center;white-space:pre-wrap;') The wedding will be held on Saturday 06 June 2020.
            p(style='text-align:center;white-space:pre-wrap;') &nbsp;
            h1(style='text-align:center;white-space:pre-wrap;') Ceremony &amp; Reception
            h3(style='text-align:center;white-space:pre-wrap;') seated by 2.45pm
            p(style='text-align:center;white-space:pre-wrap;')
              | Orchardleigh House
              br
              | Orchardleigh Park
              br
              | Frome
              br
              | BA11 2PB
        #block-9b55948e1c1f50c5d951.sqs-block.spacer-block.sqs-block-spacer.sized.vsize-1(data-block-type='21')
          .sqs-block-content &nbsp;
      .col.sqs-col-2.span-2
        #block-2ba9df0dbb1e883fdf20.sqs-block.spacer-block.sqs-block-spacer.sized.vsize-1(data-block-type='21')
          .sqs-block-content &nbsp;

