extends _layout
include mixins/_headerImage
block variables
  - var view = 'Wedding'
block content
  .sqs-layout.sqs-grid-12.columns-12.sqs-frontend-overlay-editor-widget-host(data-type='page' style='')
    +headerImage('/images/trees.jpeg')
    .row.sqs-row
      .col.sqs-col-2.span-2
        #block-122afd0a3b0d0288bcf2.sqs-block.spacer-block.sqs-block-spacer.sized.vsize-1(data-block-type='21')
          .sqs-block-content &nbsp;
      .col.sqs-col-8.span-8
        #block-c5097a864180a39c6c3a.sqs-block.html-block.sqs-block-html(data-block-type='2')
          .sqs-block-content
            h3(style='text-align:center;white-space:pre-wrap;') The wedding will be held on <br/>Saturday 06 June 2020.
            p(style='text-align:center;white-space:pre-wrap;') &nbsp;
            h1(style='text-align:center;white-space:pre-wrap;') Ceremony &amp; Reception
            h3(style='text-align:center;white-space:pre-wrap;') seated by 2.45pm
            p(style='text-align:center;white-space:pre-wrap;padding-bottom:15px')
              | Orchardleigh House
              br
              | Orchardleigh Park
              br
              | Frome
              br
              | BA11 2PB
            h1(style='text-align:center;white-space:pre-wrap;') Invite Details
            p(style='text-align:center;white-space:pre-wrap;font-size:16px')
            p(style='text-align:center;white-space:pre-wrap') We would be delighted if you stayed with us at the venue. Check-in from midday. You can book when you RSVP.
            p(style='text-align:center;white-space:pre-wrap') The live music will wind down around midnight, however, no strict curfew applies.
            p(style='text-align:center;white-space:pre-wrap') The ceremony will (hopefully) be outside. Please be seated 15 minutes before the ceremony (2.45pm).
            p(style='text-align:center;white-space:pre-wrap') Although we love your little ones this is an adult only affair.
        #block-9b55948e1c1f50c5d951.sqs-block.spacer-block.sqs-block-spacer.sized.vsize-1(data-block-type='21')
          .sqs-block-content &nbsp;
      .col.sqs-col-2.span-2
        #block-2ba9df0dbb1e883fdf20.sqs-block.spacer-block.sqs-block-spacer.sized.vsize-1(data-block-type='21')
          .sqs-block-content &nbsp;

