/* fancy plus minus button */
.button {
    /*position: absolute;*/
    width: 55px;
    height: 55px;
    background: #70975B;
    /*top: 50%;*/
    /*left: 50%;*/
    transform: translate(-50%, -50%) rotate(0deg);
    border-radius: 50%;
    cursor: pointer;
    /*z-index: 100;*/
    transition: 0.4s cubic-bezier(0.2, 0.6, 0.3, 1.1);
}

.button:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 2px;
    width: 50%;
    background: white;
}

.button:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 50%;
    width: 2px;
    background: white;
}

.button.clicked {
    transform: translate(-50%, -50%) rotate(360deg);
    background: #CC2A41;
}

.button.clicked:before {
    width: 0;
}

/* radio button style */

.form-radio {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: inline-block;
    position: relative;
    background-color: #f1f1f1;
    color: #666;
    top: 10px;
    height: 30px;
    width: 30px;
    border: 0;
    border-radius: 50px;
    cursor: pointer;
    margin-right: 7px;
    outline: none;
}

.form-radio:checked::before {
    position: absolute;
    left: 11px;
    top: 7px;
    content: '\02143';
    transform: rotate(40deg);
}

.form-radio:hover {
    background-color: #f7f7f7;
}

.form-radio:checked {
    background-color: #f1f1f1;
}

/* select option */

.select-css {
    display: block;
    font-size: 16px;
    font-family: sans-serif;
    font-weight: 700;
    color: #444;
    line-height: 1.3;
    padding: .6em 1.4em .5em .8em;
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    margin: 0;
    border: 1px solid #aaa;
    box-shadow: 0 1px 0 1px rgba(0, 0, 0, .04);
    border-radius: .5em;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff;
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
    linear-gradient(to bottom, #ffffff 0%, #e5e5e5 100%);
    background-repeat: no-repeat, repeat;
    background-position: right .7em top 50%, 0 0;
    background-size: .65em auto, 100%;
}

.select-css::-ms-expand {
    display: none;
}

.select-css:hover {
    border-color: #888;
}

.select-css:focus {
    border-color: #aaa;
    box-shadow: 0 0 1px 3px rgba(59, 153, 252, .7);
    box-shadow: 0 0 0 3px -moz-mac-focusring;
    color: #222;
    outline: none;
}

.select-css option {
    font-weight: normal;
}

input:invalid {
    background-color: pink;
}

.error-message-email {
    display: none;
    font-size: 12px;
}

.touched.error-email .error-message-email, .error-email.error-message-email.touched {
    display: block
}

.login {

}

.form-wrapper.login {
    align: center
}

.form-wrapper .login .form-item {
    float: none;
}

.form-wrapper.login .field-list .fields .field {
    float: none;
    margin: 0 auto;
}

#map {
    height: 400px; /* The height is 400 pixels */
    width: 100%; /* The width is the width of the web page */
}

form.invalid [type='submit'] {
    background-color: #938988;
    pointer-events: none;
}

form.disabled {
    pointer-events: none;
}

.error-message {
    color: #CC2A41;
}

/* admin page */

.together.a td {
    background-color: #f0fcf9;
}

.together.b td {
    background-color: #e7f5e3;
}

.leadBooker td {
    font-weight: bold
}

/* room admin */

.available .availability {
    background-color: #deeee0;
}

.unavailable .availability {
    background-color: #ebd3d2;
}

.room.assigned-not-paid .paid-indicator {
    background-color: #ebd3d2;
}

.room.paid .paid-indicator {
    background-color: #deeee0;
}
