mixin headerImage(imageUrl)
  #yui_3_17_2_1_1572782347243_84.row.sqs-row
    #yui_3_17_2_1_1572782347243_83.col.sqs-col-12.span-12
      #block-425f399bc0c443e8b7ba.sqs-block.image-block.sqs-block-image.sqs-text-ready(data-block-type='5')
        #yui_3_17_2_1_1572782347243_82.sqs-block-content
          #yui_3_17_2_1_1572782347243_81.image-block-outer-wrapper.layout-caption-below.design-layout-inline.combination-animation-none.individual-animation-none.individual-text-animation-none
            #yui_3_17_2_1_1572782347243_80.intrinsic(style='max-width:100%;')
              #yui_3_17_2_1_1572782347243_79.image-block-wrapper.has-aspect-ratio(style='padding-bottom: 56.2%; overflow: hidden;' data-animation-tier='1' data-description='')
                img(src=imageUrl alt='')
      #block-86b2f49954431fa5d4ca.sqs-block.spacer-block.sqs-block-spacer.sized.vsize-1(data-block-type='21')
        .sqs-block-content &nbsp;