mixin photo(url)
  .col.sqs-col-4.span-4
    .sqs-block.image-block.sqs-block-image(data-aspect-ratio='75' data-block-type='5')
      .sqs-block-content
        .image-block-outer-wrapper.layout-caption-below.design-layout-inline.combination-animation-none.individual-animation-none.individual-text-animation-none
          .intrinsic(style='max-width:800.0px;')
            .image-block-wrapper.has-aspect-ratio(style='padding-bottom:75.0%;' data-animation-tier='1')
              img(src=url)