mixin photo(url)
  .col.sqs-col-4.span-4
    .sqs-block.image-block.sqs-block-image(data-aspect-ratio='75' data-block-type='5')
      .sqs-block-content
        .image-block-outer-wrapper.layout-caption-below.design-layout-inline.combination-animation-none.individual-animation-none.individual-text-animation-none
          .intrinsic(style='max-width:800.0px;')
            .image-block-wrapper.has-aspect-ratio(style='padding-bottom:75.0%;' data-animation-tier='1' data-description="<p><strong>Example room: Housekeeper's<br></strong>Newly-restored, this room has views across the Golf course and has one double bed with an en-suite bath wash basin and toilet.<br>£143 per night</p>")
              img(src=url)